.activityList {
  padding-bottom: 30px;
}

.row {
  display: flex;
}

.row.underline {
  border-bottom: 5px solid #13d3e4;
  font-weight: bold;
}

.row:nth-child(even) {
  background-color: #2a2a2a;
}

.row:hover {
  background-color: #3b3333;
}

.cell {
  padding: 8px 8px 8px 0px;
  /* top | right | bottom | left */
}

.cell.matchType {
  width: 168px;
  text-align: left;
}

.cell.kills {
  width: 70px;
}

.cell.deaths {
  width: 18px;
}

.cell.kd {
  width: 40px;
}

.cell.result {
  width: 18px;
}

.detailInfo {
  font-size: 12px;
}


