.activityList {
  padding-bottom: 30px;
}

.row {
  display: flex;
  font-weight:600;
}

.row.underline {
  border-bottom: 5px solid #13d3e4;
  font-weight: bold;
}

.team .row {
  background-color: transparent;
}

.cell {
  padding: 8px 8px 8px 0px;
  /* top | right | bottom | left */
}

.cell.matchType {
  width: 168px;
  text-align: left;
}

.team .cell.matchType {
  width: 155px;
}

.cell.kills {
  width: 70px;
}

.cell.deaths {
  width: 18px;
}

.cell.kd {
  width: 40px;
}

.cell.result {
  width: 18px;
}

.detailInfo {
  font-size: 12px;
}

.dnf {
  font-size: 12px;
  color: red;
  padding-left: 5px;
}
