table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #373737;
  padding: 0.5rem;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #2a2a2a;
}

thead tr {
  background-color: #221e1e;
}

tbody tr:hover {
  background-color: #3b3333;
}

.alignCenter {
  text-align: center;
}

.noWrap {
  white-space: nowrap;
}

.detailInfo {
  font-size: 12px;
}

.activityList {
  padding-bottom: 30px;
}
