.activitiesContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.naviContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  background-color: #242424;
  border-top: 2px solid #323232;
  padding: 5px;
  padding-bottom: calc(5px + env(safe-area-inset-bottom));
}

@media (orientation: landscape) {
  .naviContainer {
      padding-left: env(safe-area-inset-left);
      padding-right: env(safe-area-inset-right);
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
}

.naviButton {
  font-size: 15px;
  /* top | right | bottom | left */
}

.header {
  padding: 25px 25px 0px 25px;
  font-size: 24px;
  font-weight: 500;
}

.compKD {
  color: #a3a3a3;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 35px;
}

.footer {
  color: #606060;
  padding-top: 5px;
  padding-bottom: 70px;
  font-size: 12px;
}
