.activitiesContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.naviButton {
  font-size: 15px;
  /* top | right | bottom | left */
  margin: 20px 20px 0px 20px;
}

.headerText {
  margin-top: 20px;
}
